.container {
  flex: 1 1 0;
  h1 {
    padding: 15px;
  }
}

.flex {
  display: flex;
}

.btn {
  border: none;
  padding: 5px 9px;
  background-color: white;
  border: 2px solid #149bfc;
  color: #149bfc;
  font-size: 1rem;
  border-radius: 5px;
  margin: 1.2rem 1rem;
  margin-left: auto;
  display: block;
  cursor: pointer;
}

button:hover {
  background-color: #149bfc;
  color: white;
}

.table {
  width: 100%;
  border-spacing: 0;

  th {
    text-align: left;
    border-bottom: 3px solid #eeeeef;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  td {
    border-bottom: 2px solid rgb(242, 242, 242);
    font-size: 0.95rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-weight: 500;
  }
}

.table-body {
  input[type="checkbox"] {
    margin-right: 0.75em;
  }

  a {
    text-decoration: none;
    font-size: 0.95rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #387ed2;
    font-weight: 500;
  }

  a:hover {
    text-decoration: underline;
  }

  tr:hover {
    background-color: rgba($color: #149bfc, $alpha: 0.1);
  }

  .reporter {
    white-space: nowrap;
  }
}

.status {
  span {
    background-color: #f96f57;
    color: white;
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 0.85rem;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
