* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.layout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 100%;
  min-height: 100vh;
}

main {
  display: flex;
  flex: 1;
}
