@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.layout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Open Sans', sans-serif;
  max-width: 100%;
  min-height: 100vh;
}

main {
  display: flex;
  flex: 1;
}
